body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/344/600/939/tic-tac-toe-game-wallpaper-preview.jpg);
}
h1{
    text-align: center;
    color: rgb(180, 80, 14);
}

.main-container{
   background-color: rgb(250, 250, 207);
   background-image: url(https://c8.alamy.com/comp/2J0E3BG/tic-tac-toe-game-on-color-background-2J0E3BG.jpg);
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.game-container{
    display:grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}



.tic-toc{
    border: 2px solid black;
    border-collapse:collapse;
    font-size: 5rem;
    text-align: center;

}

.tic-toc:hover{
    background-color: rgb(189, 238, 92)
}

.game-info{
    margin-left: 150px;
}

#win-info{
    margin-top: 50px;
    font-size: 25px;
    color: green;
    font-family: cursive;
    font-weight: bolder;
}

#button{
    margin-top: 250px;
    margin-right: -219px;
}

#reset{
    width: 150px;
    height: 50px;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    border-radius: 5px;
    font-weight: bolder;
    background-color: bisque;
}

#reset:hover{
    background-color: rgb(224, 150, 53);
}


#win-decleration{
    position:absolute;
    top:280px;
    left:370px;
    width:550PX;
    height: 150PX;
    border: 2px solid gray;
    background-color: rgb(180, 245, 96);
    display: none;
   

}

#win-text{
  display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   font-family: monospace;
   font-weight: bolder;
   color: blue;
   font-size: 30px;
}